<!--
  Generated template for the DetailDispensasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail-dispensasi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


</ion-content>
