<!--
  Generated template for the DispensasiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dispensasi</ion-title>
    <ion-buttons end>
			<button ion-button icon-only (click)="gotoDashboard()">
				<ion-icon name="ios-home"></ion-icon>
			</button>
		</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item>
		<ion-label>Tanggal sekarang</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data1"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label>Hingga tanggal</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data2"></ion-datetime>
	</ion-item>
	<button ion-button full (click)="klik()">
		<ion-icon name="ios-search"></ion-icon> Search
	</button>
  <ion-list>
    <ion-item (click)="detail()">
      <ion-avatar item-left>
        <img src="assets/img/calender.png">
      </ion-avatar>
      <h5>SITI NUR KHOLIFAH [NIP. 198305272001122002]</h5>
      <p>Awal dispensasi : Juli 28, 2017, 7 a.m</p>
      <p>Ahir dispensasi : Juli 28, 2017, 11:30 a.m</p>
      <p>Kategori dispensasi : Mesin Fingerprint tidak berfungsi</p>
    </ion-item>
    <ion-item (click)="detail()">
      <ion-avatar item-left>
        <img src="assets/img/calender.png">
      </ion-avatar>
      <h5>JOKO SUWONO [NIP. 197501031993111001]</h5>
      <p>Awal dispensasi : Juli 31, 2017, 7:15 a.m</p>
      <p>Ahir dispensasi : Agu 1, 2017, 3:30 p.m</p>
      <p>Kategori dispensasi : Tugas Resmi</p>
    </ion-item>
    <ion-item (click)="detail()">
      <ion-avatar item-left>
        <img src="assets/img/calender.png">
      </ion-avatar>
      <h5>JOKO SUWONO [NIP. 197501031993111001]</h5>
      <p>Awal dispensasi : Juli 20, 2017, 7:15 a.m</p>
      <p>Ahir dispensasi : Juli 20, 2017, 3:30 p.m</p>
      <p>Kategori dispensasi : Tugas Resmi</p>
    </ion-item>
  </ion-list>
</ion-content>
