<!--
  Generated template for the GroupJadwalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Jadwal</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="gotoDashboard()">
				<ion-icon name="ios-home"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-card>
     <ion-card-header>
       <h2>Jadwal Standar PNS</h2>
     </ion-card-header>
     <ion-card-content>
        <ion-list>
          <ion-row>
            <ion-col>(Senin - kamis) :</ion-col>
            <ion-col> 07:15:00 - 15:30:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Batas masuk/pulang :</ion-col>
            <ion-col> 5:00:00 / 17:00:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button full (click)="getDetail('dar')">Detail...</button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
     <ion-card-header>
       <h2>Jadwal Guru Pagi - SD & SMP</h2>
     </ion-card-header>
     <ion-card-content>
        <ion-list>
          <ion-row>
            <ion-col>(Senin - kamis) :</ion-col>
            <ion-col>07:00:00 - 14:00:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Batas masuk/pulang :</ion-col>
            <ion-col> 5:00:00 / 17:00:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button full (click)="getDetail('dar')">Detail...</button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
     <ion-card-header>
       <h2>Jadwal SMK</h2>
     </ion-card-header>
     <ion-card-content>
        <ion-list>
          <ion-row>
            <ion-col>(Senin - kamis) :</ion-col>
            <ion-col>07:00:00 - 17:30:00</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Batas masuk/pulang :</ion-col>
            <ion-col>  6:00:00 / 18:00:00 </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button full (click)="getDetail('dar')">Detail...</button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
