<!--
  Generated template for the KoneksiFingerprintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>KoneksiFingerprint</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="ios-keypad-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
		<ion-list>
			<ion-item>
				<ion-thumbnail item-start>
					<img src="img/thumbnail-puppy-1.jpg">
				</ion-thumbnail>
				<h2>Bulanan</h2>
			</ion-item>
			...
		</ion-list>
</ion-content>
