<!--
  Generated template for the PresensiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Presensi</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="gotoDashboard()">
				<ion-icon name="ios-home"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-item>
		<ion-label>Tanggal sekarang</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data1"></ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label>Hingga tanggal</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data2"></ion-datetime>
	</ion-item>
	<button ion-button full (click)="klik()">
		<ion-icon name="ios-search"></ion-icon> Search
	</button>
	<ion-list>
		<ion-item (click)="detail()">
			<ion-avatar item-left>
				<img src="assets/img/calender.png">
			</ion-avatar>
			<h2>Agu 3, 2017</h2>
			<p>Masuk jam: 11:53:06 </p>
			<p>Keluar jam: 16:25:53 </p>
		</ion-item>
		<ion-item (click)="detail()">
			<ion-avatar item-left>
				<img src="assets/img/calender.png">
			</ion-avatar>
			<h2>Agu 4, 2017</h2>
			<p>Masuk jam: 06:53:06 </p>
			<p>Keluar jam: 16:25:53 </p>
		</ion-item>
		<ion-item (click)="detail()">
			<ion-avatar item-left>
				<img src="assets/img/calender.png">
			</ion-avatar>
			<h2>Agu 5, 2017</h2>
			<p>Masuk jam: 07:53:06 </p>
			<p>Keluar jam: 16:25:53 </p>
		</ion-item>
	</ion-list>
</ion-content>
