<!--
  Generated template for the SearcPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>searc</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label>Tanggal sekarang</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data1">
		</ion-datetime>
	</ion-item>
	<ion-item>
		<ion-label>Hingga tanggal</ion-label>
		<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="data2">
		</ion-datetime>
	</ion-item>
	<button ion-button full (click)="dismiss()">Full Button</button>

</ion-content>
